{
	"semi": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"bracketSpacing": true,
	"useTabs": true,
	"arrowParens": "avoid",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"singleQuote": true
}
